version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@1.0.0

jobs:
  check-changes:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Check for dashboard changes
          command: |
            if git diff --name-only HEAD~1 | grep -E '^src/dashboard/|^.circleci/pipelines/dashboard.yml'; then
              echo "export DASHBOARD_CHANGED=true" >> params.txt
            else
              echo "export DASHBOARD_CHANGED=false" >> params.txt
            fi
      - continuation/continue:
          configuration_path: .circleci/pipelines/dashboard.yml
          parameters: params.txt

workflows:
  setup:
    jobs:
      - check-changes
